@import url(./loader.css);
/* Start Global Settings */

:root {
	--first-color: #31235E;
	--sec-color: #F7C843;
	--third-color: #7D54FC;
	--fourth-color: #A076F9;
	--fifth-color: #D1A186;
	--white: #f3f3f3;
	--black: #252525;
	--font-main: "Cairo", sans-serif;
}

* {
	box-sizing: border-box;
}

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

*,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-main);
	direction: rtl;
	overflow-x: hidden;
	background-color: var(--white);

}

body::-webkit-scrollbar,
.mainbg::-webkit-scrollbar {
	background-color: var(--sec-color);
	width: 10px;
}

body::-webkit-scrollbar-thumb,
.mainbg::-webkit-scrollbar-thumb {
	background: var(--first-color);
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--first-color);
}

a:hover {
	color: var(--third-color);
}

.row {
	margin: 0;
}

/* End Global Settings */

/* Start Header Settings */

header {
	height: 70px;
	padding-block: 40px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 4;
}

.navbar {
	width: 100%;
}

header ul li a {
	font-size: 15px;
	font-weight: 800;
	display: inline-block;
	color: var(--white) !important;
	margin-left: 50px;
}

header ul li a.active,
header ul li a:hover {
	transition: 0.5s ease-in-out;
	color: var(--sec-color) !important;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;

}

.headerBtn {
	padding: 7px 12px;
	background-color: var(--sec-color);
	color: var(--first-color);
	border: 3px solid var(--sec-color);
	outline: none;
	font-weight: 700;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.headerBtn:hover {
	background-color: var(--white);
	border: 3px solid var(--white);
	color: var(--first-color);
}

.navbar-toggler {
	font-size: 2rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.navbar-toggler svg {
	color: var(--sec-color);
}

.navbar-toggler svg:focus {
	outline: none !important;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
	background-color: var(--first-color);
	margin-top: -50px;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	padding: 15px 20px;
}

/* End Header Settings */

/* Start Hero Settings */

#Hero {
	background-image: url('./images/herobg.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;

}

.heroContent h2 {
	color: var(--sec-color);
	font-size: 35px;
	font-weight: 900;
	line-height: 45px;
}

.heroContent h4 {
	color: var(--white);
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1.1px;
	margin: 20px 0 15px 0;
}

.heroContent p {
	color: #b09ddb;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 30px;
}

.heroBtn {
	background-color: var(--sec-color);
	color: var(--first-color);
	font-size: 25px;
	font-weight: 700;
	padding: 7px 15px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border: none;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.heroBtn:hover,
.heroBtn:active,
.heroBtn:focus {
	background-color: var(--white);
	color: var(--black);
}


@media (min-width:1200px) {
	.heroContent p {
		width: 70%;
	}
}

@media (max-width:1200px) {
	.heroContent p {
		width: 80%;
	}
}

@media (max-width:992px) {
	#Hero {
		padding-top: 140px;
	}
}

@media (max-width:768px) {
	#Hero {
		padding-top: 180px;
	}

	.heroElements {
		width: 80%;
	}
}

@media (max-width:658px) {
	#Hero {
		padding-top: 160px;
	}
}

@media (max-width:400px) {
	#Hero {
		padding-top: 160px;
	}

	.heroContent h2 {
		font-size: 25px;
	}

	.heroContent h4 {
		font-size: 18px;
		margin: 10px 0 10px 0;
	}

	.heroContent p {
		font-size: 14px;
	}

	.heroBtn {
		font-size: 20px;
		font-weight: 700;
	}
}


svg circle.kern {
	fill: var(--sec-color);
	stroke: none;
	filter: drop-shadow(0px 0px 4px var(--fifth-color));
	-webkit-filter: drop-shadow(0px 0px 4px var(--fifth-color));
}

.atom path {
	fill: none;
	stroke: var(--white);
	stroke-width: 0.6;
}

/* 129 = ellipse.getTotalLength() */
path.tail {
	stroke: var(--sec-color);
	fill: none;
	animation: atom 2s infinite linear;
	stroke-dashoffset: 0;
	stroke-dasharray: 20, 44.5;
	stroke-width: 0.6;
	-webkit-animation: atom 2s infinite linear;
}

path.electron {
	stroke: var(--sec-color);
	fill: none;
	animation: atom 2s infinite linear;
	stroke-dashoffset: 0;
	stroke-dasharray: 0.1, 64.4;
	stroke-width: 2;
	stroke-linecap: round;
	-webkit-animation: atom 2s infinite linear;
}

path.tail1,
path.electron1 {
	animation-delay: -1s;
	animation-duration: 5s;
}

path.tail2,
path.electron2 {
	animation-delay: -1.4s;
	animation-duration: 4s;
}

/* 129 = ellipse.getTotalLength() */
@keyframes atom {
	to {
		stroke-dashoffset: 129;
	}
}



/* Seperator */

.svg-separator {
	display: block;
	background: 0 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -198px;
	z-index: 3;
	-webkit-transform: translateY(-100%) translateY(2px);
	transform: translateY(-100%) translateY(2px);
	width: 100%;
	height: 200px;
	-moz-transform: translateY(-100%) translateY(2px);
	-ms-transform: translateY(-100%) translateY(2px);
	-o-transform: translateY(-100%) translateY(2px);
}

.svg-separator2 {
	display: block;
	background: 0 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -200px;
	z-index: 3;
	-webkit-transform: translateY(-100%) translateY(2px);
	transform: translateY(-100%) translateY(2px);
	width: 100%;
	height: 200px;
	-moz-transform: translateY(-100%) translateY(2px);
	-ms-transform: translateY(-100%) translateY(2px);
	-o-transform: translateY(-100%) translateY(2px);
}

.svg-separator.bottom {
	top: auto;
	bottom: 0;
}

.sep5 {
	transform: translateY(-100%) translateY(2px) scale(1, 1);
	transform-origin: top;
	-webkit-transform: translateY(-100%) translateY(2px) scale(1, 1);
	-moz-transform: translateY(-100%) translateY(2px) scale(1, 1);
	-ms-transform: translateY(-100%) translateY(2px) scale(1, 1);
	-o-transform: translateY(-100%) translateY(2px) scale(1, 1);
}

/* End Hero Settings */


/* Start Banner Settings */
#Banner {
	min-height: 70vh;
	background-color: var(--third-color);
	direction: ltr;
}

#Banner p {
	font-size: 50px;
	font-family: "Luckiest Guy", cursive;
	font-weight: 400;
	letter-spacing: 1.2px;
	color: var(--white);
}

#Banner .container p span.typed-text {
	color: var(--sec-color);
}

#Banner .container p span.cursor {
	display: inline-block;
	background-color: var(--sec-color);
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
}

#Banner .container p span.cursor.typing {
	animation: none;
}

@keyframes blink {
	0% {
		background-color: var(--white);
	}

	49% {
		background-color: var(--white);
	}

	50% {
		background-color: transparent;
	}

	99% {
		background-color: transparent;
	}

	100% {
		background-color: var(--white);
	}
}

@media (max-width: 787px) {
	#Banner p {
		font-size: 30px;
	}
}

@media (max-width: 450px) {
	#Banner p {
		font-size: 25px;
	}

}

/* End Banner Settings */

/* Start Videos Section */

#Videos {
	min-height: 100vh;
	background-color: var(--first-color);
	padding: 50px 0;
}

.glitch {
	color: var(--sec-color);
	font-size: 40px;
	position: relative;
	width: 400px;
	margin: 0 auto;
	font-weight: 900;
}

@keyframes noise-anim {
	0% {
		clip: rect(48px, 9999px, 21px, 0);
	}

	5% {
		clip: rect(65px, 9999px, 63px, 0);
	}

	10% {
		clip: rect(45px, 9999px, 56px, 0);
	}

	15% {
		clip: rect(25px, 9999px, 83px, 0);
	}

	20% {
		clip: rect(96px, 9999px, 7px, 0);
	}

	25% {
		clip: rect(4px, 9999px, 35px, 0);
	}

	30% {
		clip: rect(60px, 9999px, 50px, 0);
	}

	35% {
		clip: rect(98px, 9999px, 90px, 0);
	}

	40% {
		clip: rect(45px, 9999px, 66px, 0);
	}

	45% {
		clip: rect(73px, 9999px, 23px, 0);
	}

	50% {
		clip: rect(66px, 9999px, 9px, 0);
	}

	55% {
		clip: rect(12px, 9999px, 27px, 0);
	}

	60% {
		clip: rect(61px, 9999px, 73px, 0);
	}

	65% {
		clip: rect(53px, 9999px, 65px, 0);
	}

	70% {
		clip: rect(66px, 9999px, 21px, 0);
	}

	75% {
		clip: rect(52px, 9999px, 6px, 0);
	}

	80% {
		clip: rect(25px, 9999px, 6px, 0);
	}

	85% {
		clip: rect(74px, 9999px, 21px, 0);
	}

	90% {
		clip: rect(60px, 9999px, 14px, 0);
	}

	95% {
		clip: rect(70px, 9999px, 94px, 0);
	}

	100% {
		clip: rect(81px, 9999px, 56px, 0);
	}
}

.glitch:after {
	content: attr(data-text);
	position: absolute;
	left: 2px;
	text-shadow: -1px 0 var(--fourth-color);
	top: 0;
	color: white;
	background: var(--first-color);
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
	0% {
		clip: rect(91px, 9999px, 2px, 0);
	}

	5% {
		clip: rect(65px, 9999px, 77px, 0);
	}

	10% {
		clip: rect(69px, 9999px, 68px, 0);
	}

	15% {
		clip: rect(2px, 9999px, 28px, 0);
	}

	20% {
		clip: rect(76px, 9999px, 59px, 0);
	}

	25% {
		clip: rect(89px, 9999px, 82px, 0);
	}

	30% {
		clip: rect(86px, 9999px, 79px, 0);
	}

	35% {
		clip: rect(59px, 9999px, 26px, 0);
	}

	40% {
		clip: rect(12px, 9999px, 46px, 0);
	}

	45% {
		clip: rect(66px, 9999px, 12px, 0);
	}

	50% {
		clip: rect(99px, 9999px, 46px, 0);
	}

	55% {
		clip: rect(59px, 9999px, 75px, 0);
	}

	60% {
		clip: rect(64px, 9999px, 24px, 0);
	}

	65% {
		clip: rect(83px, 9999px, 37px, 0);
	}

	70% {
		clip: rect(64px, 9999px, 83px, 0);
	}

	75% {
		clip: rect(96px, 9999px, 12px, 0);
	}

	80% {
		clip: rect(81px, 9999px, 6px, 0);
	}

	85% {
		clip: rect(4px, 9999px, 54px, 0);
	}

	90% {
		clip: rect(72px, 9999px, 35px, 0);
	}

	95% {
		clip: rect(74px, 9999px, 87px, 0);
	}

	100% {
		clip: rect(79px, 9999px, 68px, 0);
	}
}

.glitch:before {
	content: attr(data-text);
	position: absolute;
	left: -2px;
	text-shadow: 1px 0 var(--white);
	top: 0;
	color: white;
	background: var(--first-color);
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.videoCard {
	background-color: var(--white);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	width: 100%;
	height: 100%;
}

.videoImage {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	overflow: hidden;
	transform: translate(40px);
	-webkit-transform: translate(40px);
	-moz-transform: translate(40px);
	-ms-transform: translate(40px);
	-o-transform: translate(40px);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	box-shadow: 24px 4px 16px 0 rgba(0, 0, 0, 0.2);
}

.videoCard:hover .videoImage {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}

.videoImage img {
	object-fit: cover;
	width: 100%;
}


/* End Videos Section */

/* Banner 2 */

#Banner2 {
	min-height: 50vh;
	background-color: var(--sec-color);
	font-size: 40px;
	color: var(--first-color);
	font-weight: 800;
	position: relative;
}

#Banner2::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("./images/vectors.svg");
	content: "";
	opacity: 0.1;
	z-index: 3;
}

#Banner2 .container {
	z-index: 4;
	opacity: 1;
}

@media (max-width:580px) {
	#Banner2 {
		font-size: 30px;
	}

}

#Banner2 .heroBtn {
	background-color: var(--first-color);
	color: var(--sec-color);
}

#Banner2 .heroBtn:hover {
	background-color: var(--white);
	color: var(--first-color);
}

/* Start Contact Section */
#Contact {
	background-color: var(--white);
	min-height: 100vh;
}

.contactus {
	color: var(--first-color);
}

.card {
	padding: 50px;
	/* border: 4px solid var(--sec-color); */
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
	background-color: var(--sec-color);
	border-radius: 20px;
	position: relative;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.card p {
	color: var(--first-color);
	font-size: 40px;
	font-weight: 700;
	margin-right: 15px;
}

@media (max-width: 466px) {
	.card p {
		font-size: 30px;
	}
}

@media (max-width: 377px) {
	.card p {
		font-size: 25px;
	}
}

@media (max-width: 992px) and (min-width:768px) {
	.card p {
		font-size: 30px;
	}
}

.card form,
.card input,
.card textarea {
	width: 100%;
	caret-color: var(--first-color);
	color: var(--first-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.card input,
.card textarea {
	background-color: var(--white);
	border: 1px solid var(--first-color) !important;
	outline: none;
	border: none;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	padding: 15px;
}

.card input::placeholder,
.card textarea::placeholder {
	color: var(--black);
}

.card textarea {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	resize: none;
}

.card .contact-btn {
	background-color: var(--first-color);
	font-weight: 700;
	border-radius: 30px;
	color: #eee;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	padding-block: 15px;
}

.card .contact-btn:hover {
	background-color: var(--third-color);
	color: var(--white);
}


.contactImg img {
	object-fit: cover;
	width: 100%;
}

/* End Contact Section */

/* Start Footer Settings */
#Footer {
	background-color: var(--first-color);
}

#Footer h6 {
	margin-bottom: 15px;
	color: var(--sec-color);
	font-size: 18px;
}

.links a,
.footer-links {
	color: var(--white);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.links a:hover,
.footer-links:hover {
	color: var(--sec-color) !important;
	padding-right: 10px;
}

.footerTop {
	background-color: var(--first-color);
}

.footerBottom {
	background-color: var(--black);
	color: var(--white);
}

.footerBottom a {
	color: var(--sec-color);
}

/* End footer Settings */